$containerWidth: 940px;
$baseFontSize: 16px;


// colors
$white: #F5F5F5;
$red: #E01F3D;
$black:#292929;
$gray:#666666;

// normalize
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");

// setups
@import url("https://fonts.google.com/specimen/Alegreya+Sans?%3F=&query=+Alegreya+Sans#standard-styles");
@import "layout";

// components
@import "components/hero";
@import "components/header";
@import "components/features";
